/* Light theme */
:root {
  --theme: light;
  --primary-color: #2ac9b0;
  --secondary-color: #06ed99;
  --tertiary-color: #ffc908;
  --accent-color-1: #f738fb;
  --accent-color-2: #5142fc;

  --background-base: #ffffff;
  --background-nav: #f5f7fa;
  --background-1: #ffffff;
  --background-2: #f7f9fc;
  --background-3: #f0f2f6;
  --background-4: #e8ebf0;
  --background-5: #e0e5ea;
  --background-6: #d8dee4;
  --background-7: #d0d7de;
  --background-8: #c8d0d8;
  --background-9: #dbdbdb;


  --text-color: #171c26;
  --text-color-inverse: #e7e7e8;

  --button-color: var(--accent-color-2);
  --button-hover-color: var(--accent-color-1);
}

/* Dark theme */
[data-theme='dark'] {
  --primary-color: #2ac9b0;
  --secondary-color: #06ed99;
  --tertiary-color: #fef911;
  --accent-color-1: #f738fb;
  --accent-color-2: #5142fc;

  --background-base: #19191E;
  --background-nav: #1C1C23;
  --background-1: #19191E;
  --background-2: #212128;
  --background-3: #292933;
  --background-4: #30303D;
  --background-5: #383848;
  --background-6: #404052;
  --background-7: #48485C;
  --background-8: #4F4F66;
  --background-9: #575770;


  --text-color: #f0f2f6;
  --text-color-inverse: #171c26;

  --button-color: var(--accent-color-2);
  --button-hover-color: var(--accent-color-1);

/* Lith brand colors */
  --black: #171c26;
  --pearl: #f0f2f6;
  --silver: #b4bcd0;
    
  --blue: #5142fc;
  --pink: #f738fb;
  --yellow: #fef911;
  --jade: #2ac9b0;
  --gold: #ffc908;
  --cyan: #06ed99;
}
 

/* Header */
.header {
  background-color: var(--background-nav);
  color: var(--text-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  height: 56px;
  margin: 0!important;
}

.logo-container h4 {
  margin: 0;
  font-weight: 900!important;
}

.header-logo a {
  color: var(--jade);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

.header-logo a:hover {
  color: var(--primary-color);
  background-color: var(--background-3);
  text-decoration: none;
}

.header-nav a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
}

.header-nav a:hover {
  color: var(--primary-color);
  background-color: var(--background-3);
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
}

.logo-container h4 {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header-logo a {
    font-size: 1.5rem;
  }

  .header-nav a {
    font-size: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding: 0.3rem 0.6rem;
  }
}

body {
  background-color: var(--background-base);
  color: var(--text-color);
  font-family: 'Rubik', 'Inter', 'Nimbus Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
  
/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease;
}
  
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

  p {
    margin: 0 0 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
  }
  
  div {
    box-sizing: border-box;
  }
  
  /* Links */
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: var(--primary-variant-color);
    text-decoration: underline;
  }
  
  a:visited {
    color: var(--primary-variant-color);
  }

  a:focus {
    color: var(--primary-variant-color);
    text-decoration: underline;
  }

  .content-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }
/* Add your other styles below, using the theme variables */


h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.75px;
  color: var(--text-color)
}

h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.25px;
  color: var(--text-color);
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.04;
  letter-spacing: normal;
  color: var(--text-color);
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.125px;
  color: var(--text-color);
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--accent-color-2);
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.075px;
  color: var(--text-color);
}

.footer {
  background-color: var(--background-nav);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--dark-5);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem; 
  }

  .header-logo a {
    padding: 0.5rem; 
  }
}

/* Buttons */
.button {
  background-color: var(--accent-color-2);
  color: var(--pearl);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

.button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-1);
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid var(--silver);
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-title {
  color: var(--text-color);
  font-weight: bold;
}

.modal-close {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: var(--pink);
}

.modal-body {
  color: var(--text-color);
}

/* ... other styles ... */

/* Toggle styles */

.theme-toggle {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-slider {
  position: relative;
  content: "";
  height: 18px;
  width: 36px;
  background-color: var(--primary-color);
  border-radius: 9px;
  transition: background-color 0.2s ease;
  margin-left: 0.5rem;
  cursor: pointer;
}

.theme-toggle-slider:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

input:checked + .theme-toggle-slider {
  background-color: var(--primary-color);
}

input:checked + .theme-toggle-slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.theme-round {
  border-radius: 18px;
}

.theme-round:before {
  border-radius: 50%;
}

.theme-round:after {
  border-radius: 50%;
}

.theme-round:active:after {
  transform: scale(0.9);
}

.theme-round:active:active:after {
  transform: scale(0.9);
}

.theme-round:disabled:active:after {
  transform: scale(0.9);
}

/* Cards */
.card {
  background-color: var(--background-2);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-body {
  color: var(--text-color);
}

.card-footer {
  color: var(--text-color);
}

.card-footer a {
  color: var(--primary-color);
}

.card-footer a:hover {
  color: var(--secondary-color);
}

.card-footer a:active {
  color: var(--accent-color-2);
}

/* Checkboxes */
.checkbox {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Tables */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: var(--primary-color);
}

.table thead th {
  color: var(--on-primary-color);
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

.table tbody td {
  color: var(--on-surface-color);
  padding: 0.5rem;
  border-top: 1px solid var(--divider-color);
}

.table tbody tr:nth-child(even) {
  background-color: var(--selected-color);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--surface-color);
}

/* Forms */
.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  color: var(--black);
  margin-bottom: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-nav);
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color);
}

.form-control::-webkit-input-placeholder {
  color: var(--on-surface-color);
}

.form-control:-ms-input-placeholder {
  color: var(--on-surface-color);
}

.form-control::placeholder {
  color: var(--on-surface-color);
}

/* Navigation menu */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 56px;
}

.nav-item {
  color: var(--on-background-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
}

.nav-item:hover {
  color: var(--primary-color);
  background-color: var(--background-3);
}

.nav-item:active {
  color: var(--primary-color);
}

.nav-item.active:hover {
  color: var(--primary-color);
}

.nav-item.active:active {
  color: var(--primary-color);
}

.nav-item.disabled {
  color: var(--on-surface-color);
}

.nav-item.disabled:hover {
  color: var(--on-surface-color);
}

.nav-item.disabled:active {
  color: var(--on-surface-color);
}

.nav-link {
  color: var(--on-surface-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:active {
  color: var(--primary-color);
}

.nav-link.disabled {
  color: var(--on-surface-color);
}

.nav-link.disabled:hover {
  color: var(--on-surface-color);
}

.nav-link.disabled:active {
  color: var(--on-surface-color);
}

.nav-link.disabled:focus {
  color: var(--on-surface-color);
}

.nav-link.disabled:visited {
  color: var(--on-surface-color);
}

.nav-link.disabled:focus {
  color: var(--on-surface-color);
}

.menu-button {
  background-color: var(--primary-color);
  color: var(--pearl);
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  margin-left: auto;
}

.menu-button:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

/*responsive styles */
@media (max-width: 767px) {
  .nav-item {
    font-size: 1rem;
    margin-right: 0.6rem;
    padding: 0.3rem 0.6rem;
  }
}


/* Side Menu */
.side-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  text-align: left;
  height: 100%;
  background-color: var(--background-4);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.side-menu ul {
  margin-top: 2rem;
  padding-inline-start: 0;
}

.side-menu.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .side-menu {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }
}

.side-menu.open {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  left:0;
}

@media (min-width: 1280px) {
  .side-menu {
    padding-left: 24px;
    padding-right: 24px;
    right:auto;
    left: 0;
  }
}

@media (max-width: 768px) {
  .side-menu {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }
}

.side-menu-logo {
  width: 6rem;
  height: auto;
  margin-bottom: 1rem;
}


.list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  margin: 0.25rem 0;
}

.side-menu.open ul {
  list-style: none;
  margin: 0;
}

.side-menu ul li {
  text-align: left;
}

.side-menu ul li a {
  display: block;
}

.side-menu ul li:hover {
  background-color: var(--background-color);
  color: var(--jade);
}
@media (min-width: 769px) {
  .list-item {
    font-size: 16px;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
  }
}

.menu-toggle {
  display: none;
}

.menu-toggle.open div {
  background-color: #333;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 101;
  }

  .menu-toggle div {
    width: 24px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle.open div:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
  }

  .menu-toggle.open div:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open div:nth-child(3) {
    transform: translateY(-1px) rotate(-45deg);
  }
}

/* Login */
.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-base);
  padding: 0 24px;
}

.login-container a {
  color: var(--primary-color);
}

.login-container a:hover {
  color: var(--secondary-color);
}


.login-container .card {
  width: 400px;
  background-color: var(--background-2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255,255,255, 0.01);
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  max-width: 100%;
  
}

.login-container .logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
}

.login-container .logo {
  width: 50px;
  height: 50px;
}

.login-container .title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 12px;
  text-align: left;
}

.login-container .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  border: solid 1px rgba(255,255,255, 0.1);
}

.login-container .form-control label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.login-container .form-control input {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background-color: var(--background-base)!;
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box;
}


.login-container button[type="submit"].login-button {
  margin-top: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-container button[type="submit"].login-button:hover{
  background-color: var(--secondary-color);
}

.login-container .google-button {
  width: 100%;
  font-size: .3em;
}

.login-container .alt-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-container .alt-login button:hover {
  background-color: var(--accent-color-2);
  color: var(--pearl);
  border: none;
}

.login-container .alt-login a {
  margin-top: 8px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:12px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.signup a {
  margin-left: 8px;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.signup a:hover {color: var(--secondary-color);}

.login-container .alt-login button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: solid 1px var(--text-color);
  border-radius: 50px;
  background-color: #ffffff;
  color: var(--black);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form {
  width: 100%;
}

.login-container .description {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
  text-align: left;
}

.login-container .alt-login button svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.login-container .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1.5rem 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.login-container .separator::before,
.login-container .separator::after {
  content: "";
  display: inline-block;
  height: 1px;
  background: var(--text-color);
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login-container .separator::before {
  right: 50%;
  margin-right: 1rem;
}

.login-container .separator::after {
  left: 50%;
  margin-left: 1rem;
}
